body{
    background: #ccc;
}

header{
    background: red;
}

nav ul{
    float: left;
    list-style: none;
    
}

.apresentacao{
    text-align: center;
}

.g1logo{
    border: 1px solid yellow;
    
}