

.background{
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

.containerMain{
    border: 1px solid #000000;
    max-width: 85rem;
    margin: 0 auto;
}

a legend{
    color: #000000;
}

hr{
    position: absolute;
    width: 77rem;
}

.top-header{
    text-align: center;
    background: red;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divMenu{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;

}

.divLogo{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
}

.divSearch{
    display:flex;
    align-items: center;
    color: white;
}

.search-input{
    background: 0.4rem url(/Imagens/iconfinder_search_126577.svg) #8B0000 no-repeat;
    height: 2.5rem;
    color: white;
    font-size: 1.5rem;
    text-indent: 2rem;
    border-radius: 8px;
}



.main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTopNews{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 0 0 0 1.8rem;
}

.space-around-news{
    display: flex;
    padding: 2.2rem;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.topnews1{
    display: flex;
    padding: 1rem;
}

.topnews2 legend, .topnews3 legend{
    display: flex;
    padding-top: 0.5rem;
}


.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #707070;
}


.img-mid{
    width: 490px;
    border-radius: 4px;
}

.news-link{
    text-decoration: none;

}

.news-link h3{
    color: #8B0000;
}

.news-link h4{
    color: #a13c3c;
}

.news-link-bottom h4{
color: #000000
}


.containerAroundSecNews{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.containerSecNews{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: left;
}

.img-bottom{
    width: 470px;
}

.newsBottomText{
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
}

.news-link-bottom{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.sec-news-title{
    color: #000000;
}

.sec-news-subtitle{
    color: #C4170C;
}

.sec-news-timer{
    color: #746565;
    font-size: 1em;
    font-weight: bold;
}

.containerBtn{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
}

.more{
    display: flex;
    padding: 1rem;
    width: 8rem;
    justify-content: center;
    font-size: 18px;
    margin-left: 2em;
    background: red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}



.footer{
    display: flex;
    background: red;
}

.leftContainerBottom{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    padding-left: 6rem;
    padding-top: 1rem;
    gap: 1rem;
    
}

.g1logobottomContainer{
    display: flex;
    align-items: center;
    
}

.g1logobottom{
    display: flex;
    color: white;
    padding-right: 1rem;
}

.last-news-logo-legend{
    display: flex;
    padding-top: 1rem;
}

.copyright{
    display: flex;
}
.rightContainerBottom{
    display: flex;
    flex: auto;
    align-items: flex-end;
    justify-content: end;
    color: white;
    padding-right: 3rem;
    font-size: 1.2rem;

}
.rightContainerBottom a{
    text-decoration: none;
    color: white;
}


